# pydata stack
graphviz
matplotlib
numpy
pandas
pymc
scipy
scikit-learn
seaborn
xarray

# notebooks
jupyter
jupytext # converts notebook to python script
jupyterlab
jupyterlab-code-formatter
ipywidgets

# code formatting
black
isort
